@import url('https://fonts.googleapis.com/css?family=Antic');
@import url('https://fonts.googleapis.com/css?family=Copse');
body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth
}

/* #background{
    min-height:100%;
    min-width:100%;
  }

  #background-overlay{
    position:fixed;
    height:100%auto;
    width:100%;
     background-color:rgba(0,0,0,0.3); 
  } */

.background {
    background-image: url("assets/IMG_3068.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 { 
    font-family: 'Copse'; 
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    line-height: 26.4px;
    text-align: center; 
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
} 

h3 { 
    font-family: Antic; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    
} 

p { 
    font-family: Antic; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    text-align: center;
} 

blockquote { 
    font-family: Antic; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 
pre { 
    font-family: Antic; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

.headerBanner {
    background-color: rgb(21, 4, 51);
    color: oldlace;
    height: 40px;
    position: absolute;
    width: 425px;
    padding-bottom: 10px;
    border-radius: 0px 0px 20px;
}

.titleContainer {
    display: table; 
    text-align: center; 
    width: 100%;
    height: 100%;
}

.title {
    display: table-cell;
    color: oldlace;
    font-family: 'Copse'; 
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    line-height: 26.4px;
    vertical-align: middle;
}

.tab {
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: None;
    text-align: center;
  
  }
  
  
  .tab button {
      background-color: inherit;
      float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: oldlace;
    font-family: Antic;
  }

  .aboutContent {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 4, 51);
    /* display: none;    */
    color: oldlace;
    font-family: 'Copse'; 
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    line-height: 26.4px;
    vertical-align: middle; 
    padding-top: 1px;
    text-align: left;
  }

  .closeButton {
      position: relative;
      right: 0;
      top: 0;
      font-family: Antic;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }

  .homeButton {
    height: 40px;
    width: 40px;
    position: absolute;
    padding-bottom: 10px;
    right: 0px;
}

.homeButton button {
  background-color: inherit;
  background-image: url("assets/icons8-home-64.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

.aboutBubbleLeftWrapper {
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0px;
}

.aboutBubbleRightWrapper {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0px;
}

.aboutBubble {
  background-image: radial-gradient(farthest-corner at 20px 20px, mintcream 10%, #beffbe 100%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 10px 20px black;
}

.aboutBubble button {
  background-color: inherit;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  border: none;
  outline: none;
  color: darkslateblue;
  font-family: Antic;
  font-weight: bolder;
}

.flexBox {
  display: flex;
  background-color: inherit;
}

  .card {
        width: 600px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: oldlace;
    box-shadow: 0px 0px 5px 0px #888;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1%;
    display: none;
  }

  .card button {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: slateblue;
    color: mintcream;
  }

  .lines {
    height: 100%;
    background-image: repeating-linear-gradient(oldlace 0px, oldlace 24px, sienna 25px);
  }

  .cardContent {
    width: 100%;
    color: darkslategray;
    font-family: 'Antic'; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    line-height: 25px;
    vertical-align: middle; 
    padding-top: 1px;
    text-align: left;
  }